@media (min-width: 1410px) {
  .count_cont {
    min-width: 350px;
  }
}

/* Big screens >  1660px */
@media screen and (min-width: 1660px) {
  .esagono_cont {
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50px);
  }

  .esagono_cont_2 {
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-22px, 20px);
  }

  .esagono_cont_3 {
    transform: translate(-107px, 45px);
  }

  .esagono_cont_4 {
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-193px, 45px);
  }

  .esagono_cont_4 .esagono:last-child {
    transform: translate(-86px, -135px);
  }

  .esagono {
    width: 320px;
    height: 140px;
    position: relative;
    text-align: center;
    z-index: 1;
  }

  .gold {
    transform: translate(22px, -90px);
  }

  .esagono_icon .icona {
    padding: 70px;
  }

  .esagono_icon .icona.big {
    padding: 90px;
  }
  .esagono_icon .icona.small {
    padding: 60px;
  }
  .mb-6 {
    margin-bottom: 130px;
  }

  .hero {
    height: 600px;
  }

  .card_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1%;
  }

  .card1 {
    max-width: 300px;
    margin-top: -85px;
  }

  .card2 {
    max-width: 200px;
    min-height: 370px;
    margin-top: -130px;
  }

  .card3 {
    max-width: 250px;
    margin-top: -50px;
  }

  .card4 {
    max-width: 220px;
    margin-top: -95px;
  }
  .card5 {
    max-width: 200px;
    min-height: 500px;
    margin-top: -160px;
  }
  .card6 {
    max-width: 300px;
    margin-top: -95px;
  }
}

/* Laptop < 1360px  */
@media screen and (max-width: 1360px) {
  .esagono_cont {
    transform: translate(-120px, -50px);
  }

  .esagono_cont_2 {
    transform: translate(152px, 18px);
  }

  .esagono_cont_3 {
    transform: translate(91px, 42px);
  }

  .esagono_cont_4 {
    transform: translate(30px, 42px);
  }

  .esagono_cont_4 .esagono:last-child {
    transform: translate(-61px, -97px);
  }

  .esagono {
    width: 228px;
    height: 100px;
  }

  .gold {
    transform: translate(190px, -54px);
  }

  .mb-6 {
    margin-bottom: 93px;
  }
  #contatti img.freccia {
    width: 220px;
    height: 160px;
    position: absolute;
    top: 140px;
    left: 100px;
  }
}

@media screen and (max-width: 1200px) {
  .card1 {
    max-width: 300px;
    margin-top: -85px;
  }

  .card2 {
    max-width: 200px;
    min-height: 370px;
    margin-top: -130px;
  }

  .card3 {
    max-width: 250px;
    margin-top: -50px;
  }

  .card4 {
    max-width: 220px;
    margin-top: -70px;
  }

  .card5 {
    max-width: 200px;
    min-height: 500px;
    margin-top: -30px;
  }

  .card6 {
    max-width: 300px;
    margin-top: -20px;
  }
  .container_vignette {
    min-height: 500px;
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.4)
      ),
      url(../img/IMG_tastiera.jpg);
  }
  .titolo_fumetti {
    margin-left: 30px;
  }
  .sottotitolo_fumetti {
    margin-left: 30px;
    max-width: 70%;
  }

  .sottotitolo_fumetti p {
    font-weight: 500;
  }
  .freccia {
    display: none;
  }
}

/* Small laptop & tablet < 1160 */
@media screen and (max-width: 1160px) {
  .esagono_cont {
    transform: translate(-130px, -50px);
  }

  .esagono_cont_2 {
    transform: translate(152px, 18px);
  }

  .esagono_cont_3 {
    transform: translate(103px, 42px);
  }

  .esagono_cont_4 {
    transform: translate(53px, 42px);
  }

  .esagono_cont_4 .esagono:last-child {
    transform: translate(-49px, -82px);
  }

  .esagono {
    width: 190px;
    height: 85px;
  }

  .gold {
    transform: translate(185px, -40px);
  }

  .mb-6 {
    margin-bottom: 78px;
  }

  .hero {
    height: 400px;
  }

  .esagono_icon .icona {
    padding: 30px;
  }

  .esagono_icon .icona.big {
    padding: 50px;
  }
  .esagono_icon .icona.small {
    padding: 20px;
  }
  .servizi_cont {
    margin-left: 5%;
  }
  .servizi_text {
    width: 90%;
  }
}

/* Tablet < 992px */
@media screen and (max-width: 992px) {
  .esagono_cont {
    transform: translate(-130px, -40px);
  }

  .esagono_cont_2 {
    transform: translate(150px, 18px);
  }

  .esagono_cont_3 {
    transform: translate(103px, 42px);
  }

  .esagono_cont_4 {
    transform: translate(56px, 42px);
  }

  .esagono_cont_4 .esagono:last-child {
    transform: translate(-47px, -77px);
  }

  .esagono {
    width: 180px;
    height: 80px;
  }

  .gold {
    transform: translate(185px, -34px);
  }

  .mb-6 {
    margin-bottom: 72px;
  }

  .hero {
    height: 350px;
  }
  .esagono_icon .icona {
    padding: 30px;
  }

  .esagono_icon .icona.big {
    padding: 50px;
  }
  .esagono_icon .icona.small {
    padding: 20px;
  }
  .count_cont {
    min-width: 50%;
  }
  #contatti img.freccia {
    display: none;
  }
}

/* Small Tablet 768px */
@media screen and (max-width: 768px) {
  .esagono_cont {
    transform: translate(-130px, -40px);
  }

  .esagono_cont_2 {
    transform: translate(226px, 43px);
  }

  .esagono_cont_3 {
    transform: translate(-17px, 67px);
  }

  .esagono_cont_4 {
    transform: translate(49px, 8px);
  }

  .esagono_cont_4 .esagono:last-child {
    transform: translate(-449px, 60px);
  }

  .esagono {
    width: 140px;
    height: 60px;
  }

  .gold {
    transform: translate(151px, -59px);
  }

  .mb-6 {
    margin-bottom: 58px;
  }
  .hidden {
    visibility: hidden;
  }

  .hero {
    height: 350px;
  }
  .esagono_icon .icona {
    padding: 30px;
  }

  .esagono_icon .icona.big {
    padding: 40px;
  }
  .esagono_icon .icona.small {
    padding: 10px;
  }

  .count_cont img {
    width: 40px;
  }

  .count_cont span {
    font-size: 40px;
  }

  .count_text {
    font-size: 16px;
    margin-left: 52px;
  }

  .servizi_cont span {
    font-size: 36px;
  }

  .servizi_text {
    font-size: 18px;
  }

  .card_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card1 {
    max-width: 300px;
    margin-top: -85px;
  }

  .card2 {
    max-width: 260px;
    min-height: 370px;
    margin-top: -130px;
  }
  .card3 {
    max-width: 240px;
    margin-top: 10px;
  }

  .card4 {
    max-width: 300px;
    margin-top: -30px;
  }
  .card5 {
    max-width: 200px;
    min-height: 500px;
    margin-top: -160px;
  }
  .card6 {
    max-width: 300px;
    margin-top: -20px;
  }
}

@media screen and (max-width: 630px) {
  .fumetti {
    display: none;
  }
  .titolo_fumetti {
    justify-content: left;
    margin: 30px auto 0px auto;
    padding: 0;
    max-width: 80%;
    height: auto;
  }
  .sottotitolo_fumetti {
    justify-content: center;
    margin: 0 auto 30px auto;
    padding: 0;
    max-width: 80%;
  }
  .card_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1%;
  }

  .card_servizi {
    padding: 10px;
  }
  .card_servizi h3 {
    font-size: 26px;
  }
  .card_servizi img {
    width: 35px;
  }
  .card1 {
    max-width: 90%;
  }

  .card2 {
    display: none;
  }

  .card3 {
    max-width: 90%;
    margin-top: 0;
  }

  .card4 {
    max-width: 90%;
    text-align: center;
    margin-top: 0;
  }
  .card5 {
    display: none;
  }
  .card6 {
    max-width: 90%;
    text-align: center;
    margin-top: 0;
  }
  .card7 {
    display: flex;
    max-width: 90%;
    justify-items: center;
  }
  .card8 {
    display: flex;
    max-width: 90%;
    text-align: center;
  }
  .content {
    max-height: 0;
  }
}

/* Mobile < 490px */
@media screen and (max-width: 490px) {
  .esagono_cont {
    transform: translate(-130px, -20px);
  }

  .esagono_cont_2 {
    transform: translate(195px, 23px);
  }

  .esagono_cont_3 {
    transform: translate(4px, 46px);
  }

  .esagono_cont_4 {
    transform: translate(56px, 1px);
  }

  .esagono_cont_4 .esagono:last-child {
    transform: translate(-353px, 44px);
  }

  .esagono {
    width: 110px;
    height: 48px;
  }

  .gold {
    transform: translate(139px, -56px);
  }

  .mb-6 {
    margin-bottom: 45px;
  }
  .hidden {
    visibility: hidden;
  }

  .hero {
    height: 300px;
  }
  .esagono_icon .icona {
    padding: 20px;
  }

  .esagono_icon .icona.big {
    padding: 30px;
  }
  .esagono_icon .icona.small {
    padding: 10px;
  }
  .count_cont {
    padding: 5px;
  }

  .count_cont img {
    width: 40px;
  }

  .count_cont span {
    font-size: 30px;
  }

  .count_text {
    font-size: 14px;
    margin-left: 48px;
  }

  .servizi_cont span {
    font-size: 36px;
  }

  .servizi_text {
    font-size: 18px;
  }
  .card_servizi {
    max-width: 100%;
  }

  #footer {
    max-width: 80%;
  }
}
