* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Gotham, sans-serif;
  background: #111111;
  color: rgb(231, 202, 35);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

button:active,
button:focus {
  outline: none;
}

.container {
  max-width: 1900px;
}

/* TOP SECTION */
.hero {
  height: 600px;
  background-image: url(../img/TOP_image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.row {
  height: 100%;
}

.esagono_cont {
  display: -webkit-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50px);
}

.esagono_cont_2 {
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-22px, 20px);
}

.esagono_cont_3 {
  transform: translate(-107px, 45px);
}

.esagono_cont_4 {
  display: -webkit-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-193px, 45px);
}

.esagono_cont_4 .esagono:last-child {
  transform: translate(-86px, -135px);
}

.esagono {
  width: 320px;
  height: 140px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.gold {
  transform: translate(22px, -90px);
}

.esagono_icon {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  transition: opacity 350ms;
}

.esagono_icon .icona {
  padding: 70px;
}

.esagono_icon .icona.big {
  padding: 90px;
}
.esagono_icon .icona.small {
  padding: 60px;
}

.esagono::before,
.esagono::after {
  content: "";
}

.esagono::before,
.esagono::after,
.esagono_img {
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  display: block;
  position: absolute;
  /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
  z-index: -1;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.esagono::before {
  background-image: url(../img/Esagono_Filtro.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.esagono.gold::before {
  background-image: url(../img/Esagono_contorno_giallo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.esagono::after {
  background: transparent;
  transition: opacity 350ms;
  -webkit-transition: opacity 350ms;
}

.esagono.gold::after {
  background: transparent;
  opacity: 1;
  transition: opacity 350ms;
  -webkit-transition: opacity 350ms;
}

/* .esagono:hover .esagono_icon .icona {
  filter: drop-shadow(0px 0px 7px rgb(168, 167, 167));
} */

.esagono:hover::before {
  background-image: url(../img/Esagono_contorno_bianco.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.esagono.gold:hover::before {
  background-image: url(../img/Esagono_contorno_giallo.svg);
}

.esagono::hover::after {
  opacity: 0;
}

.esagono.gold::hover::after {
  opacity: 0;
}

.mb-6 {
  margin-bottom: 130px;
}

.icona {
  width: 100%;
}

/* COUNTER SECTION */
#counter .container {
  display: grid;
  justify-content: space-around;
  height: 100%;
  padding-top: 30px;
  background: white;
}

.count_cont {
  margin-bottom: 30px;
}

.count_cont span {
  font-weight: bold;
  font-size: 50px;
}

.count_cont img {
  width: 60px;
}

.count_text {
  display: block;
  font-weight: regular;
  font-size: 20px;
  color: rgb(175, 175, 175);
  text-transform: uppercase;
  margin-left: 70px;
  margin-top: -10px;
  line-height: 20px;
}

/* SERVIZI SECTION */
#servizi .container {
  height: 100%;
  padding-top: 30px;
  padding-bottom: 100px;
  background: var(--primary-light);
  color: #666;
}

.servizi_cont {
  margin-left: 14%;
  margin-bottom: 30px;
}

.servizi_cont span {
  font-weight: bold;
  font-size: 50px;
}

.servizi_cont img {
  width: 60px;
}

.servizi_text {
  display: block;
  font-weight: 400;
  font-size: 24px;
  padding-left: 65px;
  width: 70%;
}

/* .card_cont {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
} */

.card_servizi {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.8);
  height: max-content;
}

.card1 {
  width: 300px;
  margin-top: -85px;
}

.card_servizi.card_servizi_verticale.card2 {
  width: 200px;
  min-height: 370px;
  margin-top: -130px;
}

.card3 {
  width: 250px;
  margin-top: -50px;
}

.card4 {
  width: 220px;
  margin-top: -95px;
}

.card4 h3 {
  line-height: 40px;
}

.card5 {
  width: 200px;
  min-height: 500px;
  margin-top: -160px;
}

.card5 h3 {
  white-space: nowrap;
}

.card6 {
  width: 300px;
  margin-top: -95px;
}

.card_servizi_verticale {
  position: relative;
  border-left: 60px solid transparent;
  padding: 15px;
  display: inline-block;
}

.card_servizi_verticale h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: -30px;
  transform: rotate(270deg);
  transform-origin: 0;
}

.card_servizi h3 {
  color: var(--primary);
  font-size: 40px;
  font-weight: bold;
}

.content {
  margin-top: 10px;
  text-align: left;
  overflow: hidden;
  font-weight: 300;
  font-size: 14px;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  color: #666;
}

.card_servizi img {
  width: 60px;
}

@media (min-width: 1410px) {
  .count_cont {
    min-width: 350px;
  }
}

@media (max-width: 992px) {
  .count_cont {
    min-width: 50%;
  }
}
