body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(45deg, 90% rgb(253, 250, 96), rgb(15, 15, 0));
  color: rgb(255, 211, 14);
  text-align: center;
  width: 100vw;
  height: 100vh !important;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.img {
  display: flex;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;

  align-items: center;
}

.img img {
  width: 100%;
  align-self: center;
}
